body {
    background-color: rgb(250, 249, 245); /*bg color for whole page*/
    margin: 0; /*removes default margin*/
    padding: 0; /*removes default padding*/
}


.navall {
    background-color: #daeed1;
    position: fixed; /*doesnt move when position when scrolling*/
    width: 100%;
    top: 0%;
    left: 0%;
}

.navdiv {
    display: flex; /*flexbox layout for children elements*/
    align-items: center;
    justify-content: space-between; /*aligns elements*/
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#biglogo {
    width: 150px;
    margin: 0;
    margin-left: 20px;
}

#textlogo {
    position: absolute; /*removes from normal flow*/
    left: 50%;
    width: 250px;
    margin: 0 auto; /*aligns to center of navdiv*/
    transform: translateX(-50%); /*aligns to center of screen*/
}

input {
    float: right; /*aligns to right of screen*/
    text-align: justify;
    width: 130px;
    font-family: 'Segoe UI';
    color: #488533;
    border: 1.5px solid rgb(182, 202, 182);
    border-radius: 15px; /*rounds corners of border*/
    background-color: white;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
}

hr {
    width: 100%;
    color: rgb(23, 131, 23);
    size: 2px;
    margin: 0;
}

.titleblock {
    position: relative; /*moves relative to og position*/
    width: 100%;
    height: 500px; /* match your header image height */
    overflow: hidden; /*makes overflown content invisible*/
    z-index: -1; /*moves to very back in layering*/
}

#headerimg {
    width: 100%;
    height: 100%;
    display: block; /*block layout*/
    object-fit: cover; /*resized to fit container titleblock*/
}

#headerlogo {
    position: absolute;
    top: 60%;          
    left: 50%;         
    transform: translate(-50%, -60%); /*adjusts positioning to center of headerimg*/
    width: 500px;      
    z-index: 10;
}

.navlink {
    text-align: center;
    margin-top: 50px;
}

.link { /*styling for link*/
    display: inline-block; /*inline-block layout*/
    width: 120px;
    padding: 8px 10px;
    margin: 3px;
    text-align: center;
    text-decoration: none; /*removes line under links*/
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold; /*makes text bold*/
    color: #488533;
    border: 1px solid #488533;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /*transition timing for hover*/
}

.link:hover { /*animation for when mouse hovers over the links*/
    transform: translateY(-5px); /*link moves up*/
    background-color: #488533; /*changes background color*/
    color: white; /*changes text color*/
}

.link:active {
    transform: translateY(-2px) scale(0.98); /*position when link is clicked*/
}


#pagelink { /*styling for current page link*/
    color: rgb(255, 255, 255);
    background-color: #488533;
    border-radius: 15px;
}

.firstdiv { /*positioning & styling for first text block*/
    font-family: 'Segoe UI';
    text-align: justify;
    width: 1000px;
    margin: auto;
    border: 1.5px solid #488533; /*adds border, makes it look like box*/
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#firsth2 {
    margin-bottom: 4px;
    color: #488533;
}


#firstp {
    margin-top: 4px;
}

.firstdiv img {
    float: right; /*moves to side of text*/
    overflow: auto; /*prevents overflow*/
    width: 370px;
    margin: 20px;
    margin-top: 80px;
    border-radius: 10px;
}

.seconddiv { /*positioning & styling for three articles*/
    text-align: center;
    font-family: 'Segoe UI';
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #daeed1; /*chnages bg color for div block*/
}

.seconddiv p em {
    font-weight: bold;
}
        
.secondarticle {
    display: inline-block; /*makes all 3 aricles on same line*/
    text-align: justify;
    width: 300px;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 7px;
    background-color: rgb(250, 249, 245);
    border-radius: 7px;
}

table { /*styling for tabke*/
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #488533;
    background-color: rgb(250, 249, 245);
    border-radius: 10px;
    font-family: 'Segoe UI';
}

table th {
    background-color: #bdddae; /*changes bg color for heading cells*/
}

.thirddiv { /*positioning & styling for third div block*/
    font-family: 'Segoe UI';
    text-align: justify;
    width: 990px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#secondh2 {
    margin-bottom: 0px;
    color: #488533;
}

#secondp{
    padding-top: 0px;
}


#action { /*positioning for styling for call for action text*/
    margin: auto;
    text-align: center;
    font-size: x-large;
    font-family: 'Segoe UI';
    width: 800px;
    color: #488533;
    padding: 7px;
    margin-top: 30px;
}

.actionlink { /*positioning & styling for take action button*/
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fourthdiv { /*positioning & styling for references*/
    font-family: 'Segoe UI';
    text-align: justify;
    width: 990px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#thirdh2 {
    margin-bottom: 0px;
    color: #488533;
}

ul li a { /*styling text of reference links*/
    color: black;
    text-decoration: none;
}

#hrfooter {
    margin-top: 40px;
}

.footer { 
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #daeed1;
}

#footertext1 {
    margin-left: 20px;
    font-weight: bold;
    color: #488533;
}

#footertext2 {
    float: right;
    margin-right: 20px;
    font-style: italic;
}