body {
    background-color: rgb(250, 249, 245);
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
}

/*header & nav*/

header {
    background-color: #daeed1;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

#nav1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#biglogo {
    width: 150px;
    margin: 0;
    margin-left: 20px;
}

#textlogo {
    position: absolute;
    left: 50%;
    width: 250px;
    margin: 0 auto;     
    transform: translateX(-50%);
}

input {
    float: right;
    width: 130px;
    color: #488533;
    border: 1.5px solid rgb(182, 202, 182);
    border-radius: 15px;
    background-color: white;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
}

hr {
    width: 100%;
    color: rgb(23, 131, 23);
    size: 2px;
    margin: 0;
}

#nav2 {
    text-align: center;
    margin-top: 100px;
}


a:not(.nostyle) { /*pseudoclass*/
    display: inline-block;
    width: 120px;
    padding: 8px 10px;
    margin-left: 20px; margin-right: 3px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #488533;
    border: 1px solid #488533;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /*transition*/
}

a:hover { 
    transform: translateY(-5px);
    background-color: #488533;
    color: white;
}

a:active {
    transform: translateY(-2px) scale(0.98);
}

#pagelink {
    color: rgb(255, 255, 255);
    background-color: #488533;
    border-radius: 15px;
}

/*main articles*/

article {
    width: 990px;  
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

article h2 {
    color: #488533;
}

#artvideo {
    text-align: center;
}

#arttext h2:first-child {
    font-style: italic;
    text-decoration: underline;
}

#artwebsites { 
    text-align: center;
    width: 100%;
    padding-top: 5px; padding-bottom: 20px;
    background-color: #daeed1;
}

#artwebsites p em{
    font-weight: bold;
}

#artwebsites a {
    margin-left: 75px;
    margin-bottom: 20px;
}
        
#artwebsites div { 
    display: inline-block; 
    text-align: justify;
    width: 300px;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 7px;
    background-color: rgb(250, 249, 245);
    border-radius: 7px;
}

#artref { 
    text-align: justify;
    width: 990px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#artref h2{
    margin-bottom: 0px;
    color: #488533;
}

#artref a {
    color: black;
    text-decoration: none;
    margin: 0;
    transition: all 0.3s ease; 
}

#artref a:hover {
    text-decoration: underline;
    color: #488533;
    background-color: rgb(250, 249, 245);
}

/*footer*/

#hrfooter {
    margin-top: 40px;
}

footer { 
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #daeed1;
}

#footertext1 {
    margin-left: 20px;
    font-weight: bold;
    color: #488533;
}

#footertext2 {
    float: right;
    margin-right: 20px;
    font-style: italic;
}